#header{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
width:100vw;
height:200px;
}

main{
    display: flex;
background-color: rgb(252, 241, 228);
 height:100vh;
  overflow: hidden;
   padding: 0;
  margin: 0;



}
#header_section #logo{
width: 130px;
height: auto;  
margin: 20px 10px ;
}


#main_section{
   flex: 1;
   margin: 0;
    overflow-y: auto;
}


#main_section-header_img{

    display: flex;
}



#main_section-header_img  img{

object-fit:cover;
width: 100vw;
height:200px;


}

#header_small_bild img{

    width: 140px;
    height:140px;
  justify-content: center;
  margin-left: 50%;
  margin-top: -70px;
    border-radius: 50%;
}

#schoko_image_name p{
font-size: 26px;
margin-left: 20px;
margin-top: -40px;
font-weight: 600;
color:rgb(26, 26, 26) ;
    
}

#bewertung_text h4{

    color:orange;
    margin-left: 20px;
    font-size: 16px;
}

#menu{
     display: flex;
    flex-direction: row;
     justify-content: start;
    align-items: center;
    margin-top: 20px;
    background-color: rgb(236, 219, 198);
    padding: 10px;
    width: 100%;
    
}



#nav_links a{
   
    font-size: 18px;
    color:rgb(29, 27, 24);
      margin-right:  20px;
      margin-left: 10px;
      
     
   
   
}
#menu a:hover{
border-bottom: 2px solid orange;
text-decoration: none;
 transition: all linear 0.2s;
}




#menuContainer{
display: flex;
justify-content: space-between;
align-items: start;
flex-direction: column;
margin-left: 20px; 


}


.menu-item{
    display: flex;
    flex-direction: column;
border: 1px solid rgb(136, 134, 134);
background-color:rgb(247, 235, 220);
 width: 100%; 
gap: 1rem;
margin-top: 10px;
flex-wrap: wrap;
margin-bottom: 10px;
padding: 10px;
border-radius: 5px;

}

.menu-item:hover{

    background-color: rgb(231, 215, 194);
    cursor: pointer;
}

.menu-item h3{
    font-size: 22px;

}
.menu-item p{
font-size: 18px;
}




.price{
color:orangered;
font-size: 18px;

}
.plus-image{
    width: 30px;
   margin-bottom: 20px;

}

.last {
  margin-left: auto;
  margin-bottom: -20px;
}

#menu_pic{
 display: flex;
   justify-content: start;
   align-items: center;
   margin: 0 20px;
}

#menu_pic img{
    object-fit: cover;
    height: 150px;
  width: 100%;
   

}

#menu_pic_unten{
 display: flex;
   justify-content: start;
   align-items: center;
   margin: 0 20px;

}
#menu_pic_unten img{
    object-fit: cover;
    height: 150px;
   width: 100%;
  
}

#warenkorb_section{
position: sticky;
top: 0;
height: 100vh;
width: 350px;
border: 2px solid rgb(221, 194, 106);
background-color:rgb(247, 235, 220);
  overflow-y: auto;


}


footer {
  height: 100px;
  background-color: #d6600f;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

#footer_section {
  height: 100%;
  display: flex;
  align-items: center;
  color: white;
  font-size: 14px;
}

footer * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#basket{
margin:20px;
text-decoration: none;



}


ul {
  list-style-type: none;
}

#hr{
border: none;
height: 30px;
background: linear-gradient(to right, #f09, #3023AE); 

}

#bsk{
border-bottom: 1px solid rgb(215, 187, 60);
   
    padding: 0 80px;
}